@model IEnumerable<MyTrainer.ViewModels.UnilateralExercisesHistoryVM>

@{
    ViewData["Title"] = "SearchUserUnilateralHistory";
}

<div class="container">
    <table class="table text-white text-center mt-5 mt-md-0">
        <thead>
            <tr>
                <th>
                    Data
                </th>
                <th>
                    Repetări
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reps)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

