@model IEnumerable<MyTrainer.ViewModels.UnilateralExercisesHistoryVM>

@{
    ViewData["Title"] = "SearchUserUnilateralHistory";
}

<div class="container">
    <table class="table text-white text-center mt-5 mt-md-0">
        <thead>
            <tr>
                <th>
                    Data
                </th>
                <th>
                    Ora
                </th>
                <th>
                    Repetări
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Date.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.Date.ToString("HH:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reps)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

