<div class="exercise d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div class="d-flex flex-column justify-content-between align-items-center">
        <p id="MLClassificationResult" class="proExercise">SE ÎNCARCĂ EXERCIȚIILE...</p>
        <p id="classifierTimer" class="timer" style="font-size: 30px;">00:05</p>
    </div>
    <div class="d-flex flex-row flex-sm-row justify-content-between align-items-center ml-0 ml-md-5 mr-0 mr-md-5">
        <button id="MTClassic" type="button" class="btn start">Încearcă clasic</button>
    </div>
</div>
<script>
    document.getElementById("MTClassic").addEventListener("click", returnToClassic);
</script>

