<div class="exercise d-flex flex-column flex-sm-row justify-content-between align-items-center">
    <div class="d-flex flex-row align-items-center justify-content-center justify-content-sm-between" style="width:66%">
        <div class="d-flex flex-column justify-content-center align-items-center mr-2">
            <p class="text-center text-white" style="font-size:18px;">Repetări</p>
            <p id="counterUnilateral" style="font-size:25px; color:cyan;">0</p>
        </div>
    </div>
    <button id="stopRepsUnilateral" class="btn start">Finalizează</button>
</div>
<script>
    var stopButton = document.getElementById("stopRepsUnilateral");
    stopButton.onclick = stopReps;
</script>

