<div class="exercise d-flex flex-column flex-md-row justify-content-around align-items-center">
    <button id="addExample" type="button" class="btn proLogout">Adaugă un alt exemplu</button>
    <button id="addMoreExercises" type="button" class="btn proLogout">Adaugă alt exercițiu</button>
</div>
<script>
    document.getElementById("addExample").addEventListener("click", addExample);
    document.getElementById("addMoreExercises").addEventListener("click", addMoreExercises);
</script>