@model MyTrainer.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register";
}

<div class="h-100 w-100 d-flex align-content-center justify-content-center" style="background-color:black;">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h2 style="font-family:'Anton', sans-serif; color:cyan;"  class="font-italic">MY TRAINER</h2>
        <div class="m-3"></div>
        <form asp-action="Register" asp-controller="Account" class="d-flex flex-column align-items-center justify-content-center">
            <div>
                <input asp-for="Username" class="pose-trainer-input form-control" type="text" placeholder="utilizator" />
                <span asp-validation-for="Username" class="text-white"></span>
            </div>
            <div class="m-3"></div>
            <div>
                <input asp-for="Password" class="pose-trainer-input form-control" type="password" placeholder="parola" />
                <span asp-validation-for="Password" class="text-white"></span>
            </div>
            <div class="m-3"></div>
            <div>
                <input asp-for="ConfirmPassword" class="pose-trainer-input form-control" type="password" placeholder="confirmă parola" />
                <span asp-validation-for="ConfirmPassword" class="text-white"></span>
            </div>
            <div class="m-3"></div>
            <input type="submit" value="Înregistrare" class="btn start" />
        </form>
        <div class="m-3"></div>
        @if (TempData["RegisterErrorMessage"] != null)
        {
            <p class="font-italic text-white">@TempData["RegisterErrorMessage"].ToString()</p>
            <div class="m-3"></div>
        }
        <p class="text-white">Ai deja cont? <a asp-action="Login" asp-controller="Account" style="color:cyan;">Apasă aici!</a></p>
    </div>
</div>